<network>
    <name>{{ net_config.name }}</name>
    <uuid>{{ net_config.bridge_mac |to_uuid }}</uuid>
    <bridge name="{{ net_config.bridge }}" stp="off" delay="0" macTableManager="libvirt"/>
    <mac address="{{ net_config.bridge_mac }}"/>
    <forward mode="open"/>
    <domain name="{{ net_config.domain }}" localOnly="yes"/>
    <dns>
      <host ip='{{ net_config.net }}.1'>
        <hostname>gateway.{{ net_config.domain }}</hostname>
        <hostname>autoserver.{{ net_config.domain }}</hostname>
      </host>
{% for machine in machines.values() %}
{% if 'address' in machine.net_config %}
      <host ip='{{ machine.net_config.address }}'>
        <hostname>{{ machine.name }}.{{ net_config.domain }}</hostname>
      </host>
{% endif %}
{% endfor %}
    </dns>
    <ip address="{{ net_config.net }}.1" prefix="{{ net_config.netbits }}" localPtr="yes">
      <tftp root="{{ tftp_root }}"/>
      <dhcp>
        <range start="{{ net_config.net }}.{{ net_config.dhcp_start }}" end="{{ net_config.net }}.{{ net_config.dhcp_end }}"/>
{% for machine in machines.values() %}
{% if 'address' in machine.net_config %}
        <host mac="{{ machine.net_config.mac }}" name="{{ machine.name }}" ip="{{ machine.net_config.address }}"/>
{% endif %}
{% endfor %}
      </dhcp>
    </ip>
    <ip family="ipv6" address="{{ net_config.net6 }}::1" prefix="{{ net_config.netbits6 }}" localPtr="yes">
      <dhcp>
        <range start="{{ net_config.net6 }}::{{ net_config.dhcp6_start }}" end="{{ net_config.net6 }}::{{ net_config.dhcp6_end }}"/>
{% for machine in machines.values() %}
{% if 'address6' in machine.net_config %}
        <host name="{{ machine.name }}" ip="{{ machine.net_config.address6 }}"/>
{% endif %}
{% endfor %}
      </dhcp>
    </ip>
    <route family="ipv6" address="{{ net_config.net6 }}::" prefix="{{ net_config.netbits6 }}" gateway="{{ net_config.net6 }}::1"/>
</network>
