#!/usr/sbin/nft -f

flush ruleset

table ip nat {
    chain PREROUTING {
        type nat hook prerouting priority 0; policy accept;

{% for machine in machines.values() %}
{% for proto in machine.net_config.publish_ports %}
{% for port in machine.net_config.publish_ports[proto] %}
{% set out_port = (port |string).split( ':' )[0] %}
{% set in_port  = (port |string).split( ':' )[1] |d(port |string) %}
{% if 'address' in machine.net_config %}
        iif "{{ net_config.wan_if}}" {{ proto }} dport {{ out_port }} counter dnat to {{ machine.net_config.address }}:{{ in_port }}
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}       
    }

    chain POSTROUTING {
        type nat hook postrouting priority 100; policy accept;

        oif "{{ net_config.wan_if }}" ip saddr {{ net_config.net }}.0/{{ net_config.netbits }} counter masquerade
    }
}

table ip6 nat {
    chain PREROUTING {
        type nat hook prerouting priority 0; policy accept;

{% for machine in machines.values() %}
{% for proto in machine.net_config.publish_ports %}
{% for port in machine.net_config.publish_ports[proto] %}
{% set out_port = (port |string).split( ':' )[0] %}
{% set in_port  = (port |string).split( ':' )[1] |d(port |string) %}
{% if 'address6' in machine.net_config %}
        iif "{{ net_config.wan_if }}" {{ proto }} dport {{ out_port }} counter dnat to {{ machine.net_config.address6 }}:{{ in_port }}
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}       
    }

    chain POSTROUTING {
        type nat hook postrouting priority 100; policy accept;

        oif "{{ net_config.wan_if }}" ip6 saddr {{ net_config.net6 }}::/{{ net_config.netbits6 }} counter masquerade
    }
}

table inet filter {
    chain INPUT {
        type filter hook input priority 0; policy accept;

{% for machine in machines.values() %}
{% for proto in machine.net_config.publish_ports %}
{% for port in machine.net_config.publish_ports[proto] %}
{% set out_port = (port |string).split( ':' )[0] %}
{% set in_port  = (port |string).split( ':' )[1] |d(port |string) %}
        iif "{{ net_config.wan_if }}" {{ proto }} dport {{ out_port }} counter accept
{% endfor %}
{% endfor %}
{% endfor %}
        # disable access to cockpit console
        iif "{{ net_config.wan_if }}" tcp dport 9090 counter drop;
    }

    chain FORWARD {
        type filter hook forward priority 0; policy drop;

{% for machine in machines.values() %}
        iif "{{ net_config.wan_if }}" oif "{{ net_config.bridge }}" ip daddr {{ net_config.net }}.0/{{ net_config.netbits }} ct state {established, related} counter accept
        oif "{{ net_config.wan_if }}" iif "{{ net_config.bridge }}" ip saddr {{ net_config.net }}.0/{{ net_config.netbits }} ct state {new, established, related} counter accept
        iif "{{ net_config.wan_if }}" oif "{{ net_config.bridge }}" ip6 daddr {{ net_config.net6 }}::/{{ net_config.netbits6 }} ct state {established, related} counter accept
        oif "{{ net_config.wan_if }}" iif "{{ net_config.bridge }}" ip6 saddr {{ net_config.net6 }}::/{{ net_config.netbits6 }} ct state {new, established, related} counter accept

{% for proto in machine.net_config.publish_ports %}
{% for port in machine.net_config.publish_ports[proto] %}
{% set out_port = (port |string).split( ':' )[0] %}
{% set in_port  = (port |string).split( ':' )[1] |d(port |string) %}
{% if 'address' in machine.net_config %}
        iif "{{ net_config.wan_if }}" oif "{{ net_config.bridge }}" ip daddr {{ machine.net_config.address }} {{ proto }} dport {{ in_port }} ct state {new, established, related} counter accept
        oif "{{ net_config.wan_if }}" iif "{{ net_config.bridge }}" ip saddr {{ machine.net_config.address }} {{ proto }} sport {{ in_port  }} ct state {established, related} counter accept
        iif "{{ net_config.wan_if }}" oif "{{ net_config.bridge }}" ip6 daddr {{ machine.net_config.address6 }} {{ proto }} dport {{ in_port }} ct state {new, established, related} counter accept
        oif "{{ net_config.wan_if }}" iif "{{ net_config.bridge }}" ip6 saddr {{ machine.net_config.address6 }} {{ proto }} sport {{ in_port  }} ct state {established, related} counter accept
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
    }

    chain OUTPUT {
        type filter hook output priority 0; policy accept;
    }
}

